/* font-family: 'Roboto Condensed', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

#content {
    font-family: 'Roboto Condensed', sans-serif;
}
.carousel .carousel-item img {
    filter: opacity(0.3);
}
.carousel .carousel-inner, .carousel .carousel-item {
    background: #151515;
    height: 310px;
}
.emptyImg, .carousel .carousel-item img  {
    max-height: 310px;
}
.align-centred {
    top: 50%;
    transform: translate(-50%, -50%);
}
